<!DOCTYPE html>
<html>
<head>
    <title>Rapport</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h2>Rapport</h2>
    <table>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Date de naissance</th>
            <th>ID</th>
            
            <th>Score du tournoi</th>
        </tr>
        <!-- INSERT_DATA -->
    </table>
</body>
</html>
